In [1]:
class Person:
    #constructor /intialization      automatically called 
    def __init__(self,id,name):
        self.id=id
        self.name=name
        
    def display(self):
        print("ID=",self.id,"Name is",self.name)
        
# instance/object
p1=Person(101,"Andrew")
p1.display()

p2=Person(102,"John")
p2.display()

p3=Person(103,"Clinton")
p3.display()

p4=Person(104,"Monica")
p4.display()

ID= 101 Name is Andrew
ID= 102 Name is John
ID= 103 Name is Clinton
ID= 104 Name is Monica

In [2]:
class Student:

    def __init__(self,name,age):
        self.name=name
        self.age=age

In [3]:
S1=Student("Sam",25)

print(S1.name)
print(S1.age)

Sam
25

In [4]:
class ST:
    def __init__(self,age,name):
        self.age=age
        self.name=name

In [5]:
s2=ST(22,"Puran")

print(s2.age)
print(s2.name)

22
Puran

In [6]:
class car:
    
    def __init__(company,model,name):
        company.model=model
        company.name=name

In [7]:
B1=car(2022,"PUNCH")

print(B1.model)
print(B1.model)
print(B1.name)

2022
2022
PUNCH

In [8]:
class motorbike:
    
    def __init__(company,name,model):
        company.name=name
        company.model=model

In [9]:
A1=motorbike("Honda",2009)

print(A1.name)
print(A1.model)

Honda
2009

In [10]:
class Employee:
    def __init__(self,name,age,id,salary):
        self.name=name  #self is an instance of a class
        self.age=age
        self.salary=salary
        self.id=id
        
    def display(self):
        print("Inside display Fucntion")
        print(self.name,self.age,self.id,self.salary)

In [11]:
emp1=Employee("John",26,2000,234)   #creating objects
emp2=Employee("Andrew",31,3000,235)
emp1.display()
emp2.display()

Inside display Fucntion
John 26 2000 234
Inside display Fucntion
Andrew 31 3000 235

In [12]:
emp3=Employee("Clinton",31,3500,236)
emp3.display()

Inside display Fucntion
Clinton 31 3500 236

In [13]:
class Employee:
    def __init__(self,name,age,id,salary):
        self.name=name
        self.age=age
        self.id=id
        self.salary=salary
        
    def display(self):
        print("Outside the display function")
        print(self.name,self.age,self.id,self.salary)

In [14]:
Emp1=Employee("John",23,23000,103)
Emp2=Employee("Monica",24,25000,104)
Emp1.display()
Emp2.display()

Outside the display function
John 23 23000 103
Outside the display function
Monica 24 25000 104

In [15]:
Emp3=Employee("Priya",23,23000,233)
Emp4=Employee("Sunny",24,25000,234)
Emp3.display()
Emp4.display()

Outside the display function
Priya 23 23000 233
Outside the display function
Sunny 24 25000 234

variables two types instance and class

In [16]:
class Company:

    revenue=800000
    
    def __init__(self,name,location,number_of_employees):
        self.name=name
        self.location=location
        self.number_of_employees=number_of_employees

In [17]:
c=Company("Geroge","London",400)
print(c.name)
print(c.location)
print(c.number_of_employees)


Company.revenue

Geroge
London
400

800000

In [18]:
print("c=",c.revenue)

c= 800000

In [19]:
class car:
    #a simple class for cars
    
    #Contructor to intilize
    def __init__(self,company,color):
        self.company= company
        self.color = color
        
#fucntion to print car company and color
    def display(self):
        print("This is a",self.company, self.color)

In [20]:
def main():
    c=car("Red","Ferrari")
    c.display()

In [21]:
if __name__=="__main__":
    main()

This is a Red Ferrari

In [22]:
c= car("Maruti","GREY")
c.display()

This is a Maruti GREY

In [23]:
c = car("Black", "Tata")
c.display()

This is a Black Tata

In [24]:
def main():
    c=car("jaguar","Black")
    c.display()

In [25]:
if __name__=="__main__":
    main()

This is a jaguar Black

In [26]:
class Employee:
    
    def __init__(self,name,age):
        print("Intilazed method called")
        self.name=name
        self.age=age
        
    def getdata(self,name,age):
        print("getdata method called")
        self.name=name
        self.age=age
        
    def displaydata(self):
        print("hello",self.name,self.age)

In [27]:
def main():
    e=Employee("William",35) # here intialize will work
    e.displaydata()
    
    e.getdata("john",35)
    e.displaydata()

In [28]:
if __name__=="__main__":
    main()

Intilazed method called
hello William 35
getdata method called
hello john 35